.robot {
    min-height: 600px;
    padding: 25px 0 25px 0;
    .itc-slider {
        margin-top: 25px;
        .wrapper {
            margin-left: 250px;
        }
    }
    img {
        height: 500px;
        width: 800px;
    }
}